## 변수

- 변수: 데이터를 담는 공간, 값의 의미를 나타내는 이름
    - 일반 문자, 숫자, _(underscore)만 사용 가능

In [1]:
# 변수이름 = 값
name = '홍길동'
print(name)

홍길동

In [ ]:
# 변수 선언 및 대입 방법
a = b = 0
a,b,c = 10,20,30  # 튜플대입

In [4]:
우리집_주소 = "서울시 서초구" #특수문자는 _ 사용가능.(snake 표기법), myEmailAddress는 camel 표기법
print(우리집_주소)

서울시 서초구

In [5]:
# 지수표기법

f3 = 3e10  # 3 x 10**10
print(f3, type(f3))

30000000000.0 <class 'float'>

In [3]:
# type(값): 변수나 값의 데이터 타입을 확인하는 함수
a = type('abcde')
b = type(30)
print(a,b)

<class 'str'> <class 'int'>

In [8]:
# 동적타입언어 => 하나의 변수에 다양한 타입의 값들을 대입할 수 있다.
age = 30  #정수 대입
print(age)
age = '스무살' #문자열 대입
print(age)
age = 25.7
print(age) #실수

30
스무살
25.7

## 데이터 타입

- 숫자형, 논리형(bool), 문자형

### 숫자형(numeric)
- 정수(int)와 실수형(float)형이 있다

In [ ]:
# 산술연산자
a + b  # 더하기
a - b  # 뺴기
a * b  # 곱하기
a ** b # 제곱
a / b  # 나누기
a // b  # 나누기 몫
a % b  # 나머지

### 논리형(bool)
- 참 거짓을 표현하는 값, True, False
- 주로 조건문에서 사용

In [6]:
# 논리형
b1 = True
b2 = False
print(b1, b2)

True False

In [7]:
# boll(값) - 다른 타입의 값을 논리형으로 변환
# 빈문자열, 0, Nome => False
print(bool(''), bool('abc'), bool(' '))
print(bool(0), bool(0.0), bool(50), bool(-50))
print(bool(None))

False True True
False False True True
False

In [ ]:
# 비교연산자
a == b  # 같다
a != b  # 같지않다
a > b  # a가 b보다 크다
a >= b  # a가 b보다 크거나 같다
a < b  # a가 b보다 작다
a <= b  # a가 b보다 작거나 같다

In [9]:
print('a' > 'b')
print(ord('a'), ord('b')) #문자를 숫자로 변경

False
97 98

In [10]:
#특수문자  <  숫자  <   영문자   <  한글
print(ord('#'), ord('0'), ord('A'), ord('a'), ord('가'))

35 48 65 97 44032

In [ ]:
# 논리연산자
a & b  # and / 두 값이 True이면 결과 True, 나머진 모두 False, 0001
a | b  # or / 두 값이 모두 False이면 결과 False, 나머진 모두 True, 0111
a ^ b  # 두 값이 다를 경우 True, 같으면 Fasle, 0110
not a  # 피연산자를 반대로 부정(True -> False, False -> True)

In [13]:
num = 30
# num이 5 ~ 20 사이의 숫자인가?
# result = num > 5 and  num < 20 
result = (num > 5) & (num < 20) 
print(result)
print(not result)

False
True

In [14]:
num = 30
# num이 5 ~ 20 사이 밖의 숫자인가?
# result = num < 5  or  num > 20
result = (num < 5) |  (num > 20)
print(result)
print(not result)

True
False

In [16]:
print(True ^ False)
print(True ^ True)

True
False

In [17]:
# 조건연산자
# - Value1 if 조건식 else Value2: 조건식이 True 이거나 False이냐에 따라 결과값을 반환
num = -10
var = '양수' if num >= 0  else '음수'
print(var)

음수

### 문자열(string)
- 작은 따옴표나 큰 따옴표로 감싼다.

In [18]:
name1 = '홍길동'
name2 = "홍길동"
print(name1, name2)

홍길동 홍길동

In [21]:
# 다른 타입의 데이터를 문자열로 바꾸기
print(type(200))
value = str(200)
print(type(value))

<class 'int'>
<class 'str'>

In [ ]:
# Escape 문자
\b  # Backspace
\t  # Tab
\n  # Enter
\\  # \

In [22]:
print('abc\bd')  # Backspace
print('abc\ndef\nghi')  # Enter
print('''abc
def
hgi''')
print('abc\tdef')  # Tab

abcd
abc
def
ghi
abc
def
hgi
abc	def

In [23]:
print('C:\\Windows\\System32\\cmd.exe')
# escape문자의 \를 무시: r-string
print(r'C:\Windows\tystem32\nmd.exe')

C:\Windows\System32\cmd.exe
C:\Windows\tystem32\nmd.exe

In [24]:
# 문자열 + 문자열: 문자열 + 다른 타입은 에러가 발생한다, 다른 타입을 string으로 변환
print('a'+'b') #합친다.
name = '홍길동'
print("이름: "+name)

ab
이름: 홍길동

In [25]:
age = 20
tall = 178.8
print("나이: "+str(age))
print("키: "+ str(tall))

나이: 20
키: 178.8

In [26]:
# 문자열 n회 반복
print('-'*10)
print('abcd'*5)

----------
abcdabcdabcdabcdabcd

In [27]:
# 문자열의 글자수 세기: len()
print(name, len(name))
print(len('alkdjflkasdjklasdjfkl'))

홍길동 3
21

In [28]:
# 문자열 내에 특정 문자열이 있는지 확인: in, not in
addr = '서울시 서초구 서초동'
r = "서초구" in addr  #addr 문자열 안에 "서초구" 문자열이 있냐?
r2 = "종로구" in addr
print(r, r2)

True False

In [29]:
r = "서초구" not in addr  #addr 문자열 안에 "서초구" 문자열이 없냐?
r2 = "종로구" not in addr
print(r, r2)

False True