# 자료구조
- 리스트
- 튜플
- 딕셔너리
- Set

### 리스트(List)
- 값을 순서대로 모아서 관리하는 구조
- 각 원소들은 Index값을 가진다
- 다른 값으로 바꿀 수 있다
- [값1, 값2, 값3,...]

In [1]:
l1 = [1, 2, 10, 30]  # 리스트
l2 = [10.7, 5, 'abc', True, None, 30]
# 조회 : indexing / slicing
# indexing
print(l1[0], l1[3])
print(l2[2], l2[4])

1 30
abc None

In [2]:
# index내의 원소 개수 조회
print('l1 원소개수:', len(l1))
print('l2 원소개수:', len(l2))

l1 원소개수: 4
l2 원소개수: 6

In [3]:
# slicing
print(l2[2:5])
print(l2[:3])
print(l2[3:])
print(l2[::2])

['abc', True, None]
[10.7, 5, 'abc']
[True, None, 30]
[10.7, 'abc', None]

In [4]:
# 리스트는 원소를 변경할 수 있다. 변경 -> 대입연산
l2[0] = 100
l2[4] = '가나다'
print(l2)

[100, 5, 'abc', True, '가나다', 30]

In [5]:
# slicing을 이용하면 지정한 범위의 원소들을 한번에 바꿀 수 있다.
l2[:3] = [1,2,3,4,5]
print(l2)
l2[2:5] = []
print(l2)

[1, 2, 3, 4, 5, True, '가나다', 30]
[1, 2, True, '가나다', 30]

In [6]:
# 중첩 리스트
l3 = [[1,2], [3,4], [5,6]]
print(l3[0][1])
print(l3[2][0])

2
5

In [7]:
l4 = [[[1,2], [3,4], [5,6]],[[10,20], [30,40], [50,60]]]
print(l4[0][1][1])
print(l4[1][2][1])

4
60

### 리스트 연산자
- 리스트 + 리스트 : 두 리스트를 합친 새로운 리스트 반환
- 리스트 * 정수 : 리스트를 정수만큼 반복해서 새로운 리스트를 반환
- 값 in 리스트, 값 not in 리스트 : 리스트안에 값이 있는지(in). 없는지(not in)   bool 값으로 변환

In [8]:
l1 = [1, 2, 3]
l2 =[10, 20, 30]
l3 = l1 + l2
print(l3)

[1, 2, 3, 10, 20, 30]

In [9]:
l4 = l1 * 3
print(l4)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

### 리스트 대입
- 여러개의 변수에 리스트의 값들을 한번에 대입

In [10]:
a, b, c = [1,2,3] #변수와 라스트 원소의 개수와 같아 야한다.
print(a, b, c)

1 2 3

### 리스트 주요 메소드
- len(리스트): 리스트의 원소 개수 반환
- append(값): 값을 마지막 원소로 추가
- extend(리스트): 리스트의 원소들을 추가
- sorted(리스트,reverse=True): 원소를 오름차순/내림차순(True)으로 정렬
    - 리스트내 원소들의 타입이 같아야한다
- insert(index,삽입할값): 값을 index에 삽입한다
- remove(삭제할값): 리스트에서 값과 일치하는 원소를 삭제한다
- count(값): 매개변수에 전달한 값의 개수를 반환한다

In [11]:
print("원소개수:",len(l1))

원소개수: 3

In [12]:
l1.append(10)   # list.append(추가할값)
print(l1)

[1, 2, 3, 10]

In [13]:
l1.extend([3,4,5])  # l1 리스트에 추가
print(l1)

[1, 2, 3, 10, 3, 4, 5]

In [14]:
l1 + [30,40,50]   # l1과 [30,40,50]을 합친 새로운 리스트가 반환(l1은 안바뀜)

[1, 2, 3, 10, 3, 4, 5, 30, 40, 50]

In [15]:
# 정렬 - sorted(리스트): 원본 리스트를 변경하지 않고 정렬한 새로운 리스트를 반환
print(sorted(l1))  #오름차순
print(sorted(l1, reverse=True))  #내림차순

[1, 2, 3, 3, 4, 5, 10]
[10, 5, 4, 3, 3, 2, 1]

In [16]:
# 정렬 - sorted(리스트): 원본 리스트를 변경하지 않고 정렬한 새로운 리스트를 반환
print(sorted(l1))  #오름차순
print(sorted(l1, reverse=True))  #내림차순

[1, 2, 3, 3, 4, 5, 10]
[10, 5, 4, 3, 3, 2, 1]

In [17]:
#정렬 - 리스트.sort() - 원본 리스트 자체를 정렬
l1.sort()
print(l1)

[1, 2, 3, 3, 4, 5, 10]

In [18]:
l1.insert(3, '가나다')  # index 3에 '가나다' 삽입
print(l1)

[1, 2, 3, '가나다', 3, 4, 5, 10]

In [19]:
# index로 원소 삭제 : del
del l1[0]
l1

[2, 3, '가나다', 3, 4, 5, 10]

In [20]:
# 값으로 삭제
l1.remove('가나다')
l1

[2, 3, 3, 4, 5, 10]

In [21]:
l1.count(10) #값 10이 몇 개인지

1

### 튜플(Tuple)
- 리스트와 같이 순서대로 원소들을 저장하는 자료구조
- 원소를 변경할 수 없다
- 튜플은 각 index마다 정해진 의미가 있고 그 값이 한번 설정되면 바뀌지 않는다
- (값1, 값2, 값3,...)

In [24]:
t1 = (1, 2, 3, 4, 5) #소괄호로 묶는다.
t2 = 10,20,30,40,50 # 소괄호 생략가능
t3 = 10, '가', True

In [25]:
t4 = (100)  #t4 = 100, 원소가 1개이면 뒤에 , 를 붙인다
t4, type(t4), type(t3)

(100, int, tuple)

### 튜플 대입

In [26]:
name, age, address = ('홍길동', 30, '서울')  #튜플 대입
print(name, age, address)
# name, age, address = ['홍길동', 30, '서울']  #리스트 대입

홍길동 30 서울

In [27]:
name, age, address = '홍길동1', 32, '서울1' #튜플 대입
print(name, age, address)

홍길동1 32 서울1

### indexing, slicing
- 조회만 가능하고 변경은 할 수 없다

In [28]:
t7 = 100, 4, 8, 20, 20, 1, 8
t7[0], t7[3], t7[6]

(100, 20, 8)

In [29]:
t7[0] = 40  # 변경 X

TypeError: 'tuple' object does not support item assignment

In [30]:
t7[::2]

(100, 8, 20, 8)

### 연산자

In [31]:
t1 + t2

(1, 2, 3, 4, 5, 10, 20, 30, 40, 50)

In [32]:
t1 * 2

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [33]:
sorted_t7 = sorted(t7)  # 원본 변경 X
sorted_t7
# sort(): 튜플에서는 사용X(튜플은 원본을 변경 할 수 없기때문)

[1, 4, 8, 8, 20, 20, 100]

### 딕셔너리(Dictionart)
- 값을 키(key)-값(value) 쌍의 형태로 저장하는 자료구조
- 리스트나 튜플의 index의 역할을 하는 key를 직접 지정한다
- {키1:값1, 키2:값2, 키3:값3,...}
- 키는 불변의 값들만 사용가능(숫자,문자열,튜플)

In [35]:
# 생성
person1 = {"name":"홍길동", "age":20, "address":"서울"}
person2 = {"age":30, "name":"이순신", "address":"서울"}
person1

{'name': '홍길동', 'age': 20, 'address': '서울'}

In [36]:
# 값 조회
print(person1['name'], person2['name'])
print(person1['age'], person2['age'])

홍길동 이순신
20 30

In [37]:
# 값 변경
person1['name'] = '박철웅' #있는 key에 값을 대입하면 변경이 된다.
person1

{'name': '박철웅', 'age': 20, 'address': '서울'}

In [38]:
# dictionary.get('key') : 조회
# 없는 키값으로 조회하면 None(기본값). None대신 반환할 기본값을 설정할 수도 있다.
v = person2.get('email', "없음")
print(v)

없음

### 딕셔너리 주요 메소드
- pop(key): key와 연결된 값을 반환하면서 삭제한다
- items(): key와 value를 튜플로 묶어 리턴
- dictionary.get(key,기본값): 키와 연결된 값을 반환, 찾는 키의 값이 없을 경우 기본값을 반환
- keys(): key값들만 모아서 리턴
- valuse(): value들만 모아서 리턴

In [39]:
person1.pop('name')
person1

{'age': 20, 'address': '서울'}

In [40]:
del person1['age']
person1

{'address': '서울'}

In [41]:
person1.items()

dict_items([('address', '서울')])

In [42]:
person1.keys()

dict_keys(['address'])

In [43]:
person1.values()

dict_values(['서울'])

### Set
- 중복되는 값을 허용하지 않고 순서를 신경 쓰지 않는다
- indexing과 slicing을 지원하지 않는다
- {값1, 값2, 값3,...}

In [44]:
s1 = {1, 1, 1, 2, 2, 2, 3, 3, 3, 'a', 'a', 'a', True, True, True, False, False} 
# 1, True => True를 1로 취급, 0, False => False를 0으로 취급
s1

{1, 2, 3, False, 'a'}

In [45]:
s2 = {1, True}
s3 = {0, False}
print(s2)
print(s3)

{1}
{0}

In [46]:
s1[0] # set은 원소 하나를 조회하는 것은 안된다. => 반복문을 이용

TypeError: 'set' object is not subscriptable

### 연산자

In [47]:
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5}

# 합집합
s3 = s1 | s2  # {1, 2, 3, 4, 5}
s4 = s1.union(s2)
print(s3)
print(s4)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [48]:
# 교집합
s5 = s1 & s2
s6 = s1.intersection(s2)
print(s5, s6)

{3, 4} {3, 4}

In [49]:
# 차집합
s7 = s1 - s2
s8 = s1.difference(s2)
print(s7)
print(s8)

{1, 2}
{1, 2}

### Set 주요 메소드
- add(값): 집합에 요소 추가
- update(자료구조): 한번에 여러개의 요소를 추가
- pop(): 값을 하나씩 반환하면서 제거
- remove(값): 값을 찾아서 삭제

In [50]:
# 추가
s3.add(10)
print(s3)
s3.add(10) #있는 값을 추가하면 추가가 안됨(중복 허용 안하므로)
s3

{1, 2, 3, 4, 5, 10}

{1, 2, 3, 4, 5, 10}

In [51]:
s3.update([1,2,3,100,200,300,400])
s3

{1, 2, 3, 4, 5, 10, 100, 200, 300, 400}

In [63]:
v = s3.pop()
print(v)
s3

3

{4, 5, 10, 100, 200, 300, 400}

In [64]:
s3.remove(5)  # s3의 원소중 5를 삭제
s3

{4, 10, 100, 200, 300, 400}

In [65]:
var1 = [] #빈 리스트
var2 = {} #빈 dictionary
type(var2)

dict

In [66]:
var2['a'] = 100
var2

{'a': 100}

# 자료구조 변환 함수
- list(자료구조): 자료구조를 List로 변환
- tuple(자료구조): 자료구조를 Tuple로 변환
- set(자료구조): 자료구조를 Set으로 변환
- Dictionary로 변환하는 함수는 없다.
- 변경할 대상 자료구조가 Dictionary 일 경우에는 key값들만 모아서 변환

In [67]:
t = 1, 2, 10, 5, 10, 2
l = list(t)
l, type(l)

([1, 2, 10, 5, 10, 2], list)

In [68]:
s = set(t)
s, type(s)

({1, 2, 5, 10}, set)

In [69]:
t1 = tuple([1,3,10,20,11]) #list->tuple
t1

(1, 3, 10, 20, 11)

In [71]:
d = {'a':10, 'b':20, 'c':30}
d

{'a': 10, 'b': 20, 'c': 30}

In [72]:
set(d) # dict -> set

{'a', 'b', 'c'}

In [73]:
list(d)

['a', 'b', 'c']

In [74]:
tuple(d)

('a', 'b', 'c')

In [75]:
# dict(key=value, key=value) dictionary를 쉽게 만들도록 도와주는 함수
d1 = dict(name='홍길동', age=20, address='부산')
d1

{'name': '홍길동', 'age': 20, 'address': '부산'}