# 제어문
code의 흐름을 제어하는 구문

### 조건문(분기문)

#### 단순 if문 -> 특정 구문들을 실행할지 말지

In [1]:
num = int(input("정수:"))
# 입력값이 0이면 "영입니다." 라고 출력한다.
if num==0:
    print('영입니다.')
    print('zero')
print('종료')

정수:0
영입니다.
zero
종료

#### if else 문: 조건이 True일 때 할일과 False 할일 두가지로 분기하는 경우.

In [2]:
# 입력받은 값이 0이면 "0입니다." 출력하고 0이 아니면 '0이 아닙니다.' 출력한다.
num = int(input('정수:'))
if num==0:
    print("0입니다.")
else:
    print('0이 아닙니다.')
    print(f"입력한 숫자는 {num}입니다.")
        
print('종료합니다')

정수:10
0이 아닙니다.
입력한 숫자는 10입니다.
종료합니다

#### if elif 문: 조건이 여러개일 경우 사용
- elif: else if

In [3]:
# 입력받은 값이 0이면 '0입니다.'를 출력하고
#             양수이면 '양수입니다.'를 출력
#             음수이면 '음수입니다.'를 출력 한다. 
num = int(input('정수:'))
if num == 0:
    print('0입니다.')
elif num > 0:
    print('양수입니다.')
    print(f'입력한 숫자는 {num}입니다.')
# elif num < 0:
else:  #위 조건이 모두 False이면(나머지 조건들) else문을 실행
    print('음수입니다.')

print('종료합니다')

정수:10
양수입니다.
입력한 숫자는 10입니다.
종료합니다

### 반복문
#### while문
- 조건이 True인 동안 구문을 반복

In [4]:
limit = int(input('반복횟수:')) #반복할 횟수
count = 0 # 현재 몇번째 반복인지를 저장할 변수
while count < limit:   #  현재 반복횟수가 limit보다 적을때 까지 반복
    count = count + 1
    print(f'{count}. 안녕하세요')
    print('='*10)

반복횟수:10
1. 안녕하세요
==========
2. 안녕하세요
==========
3. 안녕하세요
==========
4. 안녕하세요
==========
5. 안녕하세요
==========
6. 안녕하세요
==========
7. 안녕하세요
==========
8. 안녕하세요
==========
9. 안녕하세요
==========
10. 안녕하세요
==========

#### for in 문
- iterable(자료구조들, 문자열 등)이 가지고 있는 값들을 순환조회할 때 사용

In [8]:
# for 변수 in Iteratble:
#     반복구문
lst = [10, 5, 7, ]
for num in lst: 
    print(num)  #for in 문의 반복구문은 iterable의 원소 하나씩 처리하는 코드
    print("-"*10)

10
----------
5
----------
7
----------

In [9]:
for v in (10,20,30,40):
#     print(v)
    print(v, end=",") #end=>v를 출력후 엔터대신에 출력할 값.
print('종료')

10,20,30,40,종료

In [10]:
for v in {1, 2, 2, 2, 3, 4, 1, 2, 3, 4}: # {1,2,3,4}
    print(v, end='\t')

1	2	3	4

In [11]:
for v in dict(name='홍길동', age=20, address='서울'): #dictionary -> key가 조회된다.
    print(v)

name
age
address

In [12]:
# 문자열을 변환할씨 원소 하나씩으로 바뀐다, list, tuple, set 
list("abcdefg")

['a', 'b', 'c', 'd', 'e', 'f', 'g']

### continue, break
- continue: 다음 반복을 실행해라.
- break: 반복을 멈춰라.

In [13]:
lst = [10, 5, 7, 9, 100, 50, 27, 123, 22, 90]
for v in lst:
    if v % 2 != 0: #2의 배수가 아니면(조건)
        continue  # 나머지 반복구문 실행하지 말고 다음 반복 실행해라.
    print(v)

10
100
50
22
90

In [14]:
for v in lst:
    print(v)
    if v >= 100: # break할 조건
        break #더이상 반복하지 않고 반복문을 끝낸다.
    
print('end')

10
5
7
9
100
end

In [15]:
# 사용자로 부터 글을 입력받아서 출력. 'q!'를 입력받으면 종료
while True:
    s = input()
    print('입력한 문자열:', s)
    if s == 'q!':
        break

12
입력한 문자열: 12
q!
입력한 문자열: q!

### for in문 관련 함수
- range()
    - 특정값만큼 증감하는 연속된 숫자를 제공하는 iterable을 생성

#### range(시작숫자, 끝숫자, 증감치)

In [16]:
# nums = [1, 2, 3, 4, 5, 6, 7, 8, ...,, 100]
# range(시작숫자, 끝숫자, 증감치)
range(10, 100, 10) # 10 ~ 100-1 까지 10씩 증가하는 연속된 값을 제공.
                   # 생성된 값이 필요할 때 제공한다.

range(10, 100, 10)

In [17]:
for i in range(10, 100, 10):
    print(i)

10
20
30
40
50
60
70
80
90

In [18]:
l = list(range(10,100,10))
l

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [19]:
tuple(range(10,100,10)), set(range(10,100,10))

((10, 20, 30, 40, 50, 60, 70, 80, 90), {10, 20, 30, 40, 50, 60, 70, 80, 90})

#### range(): 특정 구문을 N번 반복하려고 할때 for in문과 함께 사용할 수 있다.
- 변수를 _ 로 명명하면 이 변수는 사용하지 않겠다. 
- 자리만 채운다의 의미로 관례적으로 사용한다.

In [22]:
for _ in range(5): 
    print("ABC")

ABC
ABC
ABC
ABC
ABC

#### enumerate(자료구조)
- 튜플로 (몇번째반복인지,  값) 묶어서 반환

In [23]:
lst = [10, 5, 7, 8, 10, 2]
for i in enumerate(lst):
    print(i)

(0, 10)
(1, 5)
(2, 7)
(3, 8)
(4, 10)
(5, 2)

In [24]:
for i in enumerate(lst, start=10):
    print(i, f"순번:{i[0]}, 값: {i[1]}")

(10, 10) 순번:10, 값: 10
(11, 5) 순번:11, 값: 5
(12, 7) 순번:12, 값: 7
(13, 8) 순번:13, 값: 8
(14, 10) 순번:14, 값: 10
(15, 2) 순번:15, 값: 2

In [25]:
#enumerate() 반환값을 tuple 대입을 이용해 받는다.
for idx, value in enumerate(lst, start=1):
    print(f"{idx}. {value}")

1. 10
2. 5
3. 7
4. 8
5. 10
6. 2

#### zip(자료구조1, 자료구조2, ....): 같은 index의 값들을 묶어서 반환

In [29]:
# 같은 index의 값들이 같은 사람의 정보
names = ['홍길동', '이순신', '강감찬']
ages = [30, 40, 50]
address = ['서울', '인천', '수원']
for v in  zip(names, ages, address):
    print(v, v[0], v[1], v[2])

('홍길동', 30, '서울') 홍길동 30 서울
('이순신', 40, '인천') 이순신 40 인천
('강감찬', 50, '수원') 강감찬 50 수원

In [31]:
for name, age, addr in zip(names, ages, address): #튜플대입
    print(name, age, addr)

홍길동 30 서울
이순신 40 인천
강감찬 50 수원

In [32]:
emails = ['h@a.com', 'l@a.com', 'k@b.com', 'abc@a.com']
# 자료구조들의 원소 개수가 다를 경우에는 적은 것에 맞춘다.
for name, age, addr, email in zip(names, ages, address, emails):
    print(name, age, addr, email)

홍길동 30 서울 h@a.com
이순신 40 인천 l@a.com
강감찬 50 수원 k@b.com

## 컴프리헨션 
- 기본 자료구조가 가진 원소들을 이용해 새로운 자료구조를 만드는 구문
- 튜플 컴프리헨션은 없다

In [33]:
l1 = [1, 2, 2, 2, 3, 4, 5]
# l1의 원소들을 5배한 값들로 구성된 리스트를 생성
new_list = []
for i in l1:
    new_list.append(i*5)
    
new_list

[5, 10, 10, 10, 15, 20, 25]

#### list comprehension

In [34]:
new_list2 = [i*5 for i in l1]  
new_list2

[5, 10, 10, 10, 15, 20, 25]

#### set comprehension

In [35]:
new_set = {i*5 for i in l1}  
new_set

{5, 10, 15, 20, 25}

#### dictionary comprehension

In [36]:
new_dict = {key:value*5 for key, value in enumerate(l1, start=100)}
new_dict

{100: 5, 101: 10, 102: 10, 103: 10, 104: 15, 105: 20, 106: 25}

In [37]:
new_dict = {'key'+str(value):value   for value in l1}
new_dict

{'key1': 1, 'key2': 2, 'key3': 3, 'key4': 4, 'key5': 5}

-----------------------------------------------------------------------------------------------------------------------------------

In [38]:
s = ['a','b','c','abc']  #s의 값을 대문자로 변환한 값들을 원소로 가지는 리스트, Set

s2 = []
for v in s:
    s2.append(v.upper())
s2, s

(['A', 'B', 'C', 'ABC'], ['a', 'b', 'c', 'abc'])

In [39]:
s3 = [v.upper() for v in s]
s3

['A', 'B', 'C', 'ABC']

In [40]:
s = ['a','b','c','abc', 'def', 'ak', 'r'] 
# s의 원소중 글자수가 1글자인 원소만 소문자를 대문자로 바꾼 값들을 가지는 배열
s2 = []
for v in s:
    if len(v)==1: # 글자수가 1이면
        s2.append(v.upper())

s2

['A', 'B', 'C', 'R']

In [41]:
s3=[v for v in s if len(v)==1] #filtering
s3

['a', 'b', 'c', 'r']

In [42]:
s4={v.upper() for v in s if len(v)==1} #filter + mapping
s4

{'A', 'B', 'C', 'R'}

In [43]:
list(filter(lambda x: len(x)==1, s))  # lamda = 간단한 함수를 함수없이 실행

['a', 'b', 'c', 'r']

In [44]:
list(map(lambda x: x.upper(), s))

['A', 'B', 'C', 'ABC', 'DEF', 'AK', 'R']