# 리스트
- 순서가 있는 자료구조
    - 원소들을 index로 관리한다.
- 생성
    - `1. [값, 값, 값....]`

In [31]:
l1 = [1, 2, 10, 30]
l2 = [10.7, 5, 'abc', True, None, 30]

In [32]:
# 조회 : indexing / slicing
# indexing
print(l1[0], l1[3])
print(l2[2], l2[4])

1 30
abc None

In [33]:
# 없는 index조회 => IndexError 에러 발생
l1[20]

IndexError: list index out of range

In [34]:
# index내의 원소 개수 조회
print('l1 원소개수:', len(l1))
print('l2 원소개수:', len(l2))

l1 원소개수: 4
l2 원소개수: 6

In [35]:
# slicing
print(l2[2:5])
print(l2[:3])
print(l2[3:])
print(l2[::2])

['abc', True, None]
[10.7, 5, 'abc']
[True, None, 30]
[10.7, 'abc', None]

In [36]:
# 리스트는 원소를 변경할 수 있다. 변경 -> 대입연산
l2[0] = 100
l2[4] = '가나다'
print(l2)

[100, 5, 'abc', True, '가나다', 30]

In [37]:
# slicing을 이용하면 지정한 범위의 원소들을 한번에 바꿀 수 있다.
l2[:3] = [1,2,3,4,5]
print(l2)
l2[2:5] = []
print(l2)

[1, 2, 3, 4, 5, True, '가나다', 30]
[1, 2, True, '가나다', 30]

In [38]:
del l2[0] # 하나의 원소만 삭제: del
print(l2)

[2, True, '가나다', 30]

**리스트를 포함한 자료구조도 값이다.**
- 리스트에 다른 자료구조들을 원소로 추가할 수 있다.

In [40]:
l3 = [[1,2], [3,4], [5,6]]
print(l3[0][1])
print(l3[2][0])

2
5

In [41]:
l4 = [[[1,2], [3,4], [5,6]],[[10,20], [30,40], [50,60]]]
print(l4[0][1][1])
print(l4[1][2][1])

4
60

### 리스트 연산자
- 리스트 + 리스트 : 두 리스트를 합친 새로운 리스트 반환
- 리스트 + 정수 : 리스트를 정수만큼 반복해서 새로운 리스트를 반환
- 값 in 리스트, 값 not in 리스트 : 리스트안에 값이 있는지(in). 없는지(not in)   bool 값으로 변환

In [106]:
l1 = [1, 2, 3]
l2 =[10, 20, 30]
l3 = l1 + l2
print(l3)

[1, 2, 3, 10, 20, 30]

In [107]:
l4 = l1 * 3
print(l4)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

### 리스트 대입
_ 여러개의 변수에 리스트의 값들을 한번에 대입

In [108]:
a, b, c = [1,2,3] #변수와 라스트 원소의 개수와 같아 야한다.
print(a, b, c)

1 2 3

### 주요함수

In [109]:
print("원소개수:",len(l1))

원소개수: 3

In [110]:
l1.append(10)   # list.append(추가할값)
print(l1)

[1, 2, 3, 10]

In [111]:
l1.extend([3,4,5])  # l1 리스트에 추가
print(l1)

[1, 2, 3, 10, 3, 4, 5]

In [115]:
l1 + [30,40,50]   # l1과 [30,40,50]을 합친 새로운 리스트가 반환(l1은 안바뀜)

[1, 2, 3, 3, 4, 5, 10, 30, 40, 50]

In [113]:
# 정렬 - sorted(리스트): 원본 리스트를 변경하지 않고 정렬한 새로운 리스트를 반환
print(sorted(l1))  #오름차순
print(sorted(l1, reverse=True))  #내림차순

[1, 2, 3, 3, 4, 5, 10]
[10, 5, 4, 3, 3, 2, 1]

In [114]:
#정렬 - 리스트.sort() - 원본 리스트 자체를 정렬
l1.sort()
print(l1)

[1, 2, 3, 3, 4, 5, 10]

In [55]:
l1.insert(3, '가나다')  # index 3에 '가나다' 삽입
print(l1)

[1, 2, 3, '가나다', 3, 4, 5, 10]

# 튜플(Tuple)
- 리스트처럼 순서가 있는 자료구조
    - index (양수, 음수)로 원소를 관리
    - 원소를 변경할 수 없다. (추가, 삭제, 변경이 안된다)
- 생성

In [56]:
t1 = (1, 2, 3, 4, 5)  #소괄호로 묶는다.
t2 = 10,20,30,40,50   #소괄호 생략 가능

In [61]:
t4 = (100)  # t4 = 100, tuple x
type(t4),type(t2)

(int, tuple)

In [63]:
t5 = (100,) # 원소가 하나일 경우 뒤에 ,를 붙인다.
t6 = 100,
print(t5,t6,type(t5),type(t6))

(100,) (100,) <class 'tuple'> <class 'tuple'>

### 튜플대입

In [65]:
name, age, address = ('홍길동', 30, '서울')  #튜플 대입
#name, age, address = ['홍길동', 30, '서울']  리스트 대입
print(name, age, address)

홍길동 30 서울

### indexing, slicing
- 조회만 가능하고 원소를 변경할 수 없다.

In [66]:
t7 = 100, 4, 8, 20, 20, 1, 8
t7[0], t7[3], t7[6]

(100, 20, 8)

In [67]:
t7[0] = 40  # 변경 x

TypeError: 'tuple' object does not support item assignment

In [68]:
t7[::2]

(100, 8, 20, 8)

In [69]:
t7[::-1]

(8, 1, 20, 20, 8, 4, 100)

# 딕셔너리
- 데이터를 ket:value 쌍(pair)로 모아서 관리하는 자료구조

In [74]:
# 생성
person1={'name':'홍길동', 'age':20, 'address':'서울'}
person2={'age':30, 'name':'홍길동', 'address':'서울'}
person1
person2

{'age': 30, 'name': '홍길동', 'address': '서울'}

In [76]:
# 값 조회
print(person1['name'], person2['name'])

홍길동 홍길동

In [77]:
# 값 변경
person1['name']='박철웅'  # 있는 key에 값을 대입하면 변경이 된다.
person1

{'name': '박철웅', 'age': 20, 'address': '서울'}

In [80]:
person1['tel'] = '010-1234-5678'  # 없는 key에 값을 대입하면 추가가 된다.
person1

{'name': '박철웅', 'age': 20, 'address': '서울', 'tel': '010-1234-5678'}

In [81]:
person1['email']  # 없는 key로 조회하면 keyerror 발생

KeyError: 'email'

In [84]:
# dictionary.get('key') : 조회
# 없는 키값으로 조회하면 None(기본값), None대신 반환할 기본값을 설정할 수도 있다.
v = person2.get('email')
print(v)
z = person2.get('email','없음')
print(z)

None
없음

# set(집합)
- 중복을 허용하지 않는 자료구조

In [86]:
s1 = {1,1,1,2,2,2,3,3,3,'a','a','a',True,True,True,False,False}  # True => 1로 취급, False => 0으로 취급
s1

{1, 2, 3, False, 'a'}

In [87]:
s1[0]  # set은 원소 하나를 조회하는 것은 안된다 => 반복문을 이용

TypeError: 'set' object is not subscriptable

### 연산자

In [89]:
print(1 in s1)
print(100 in s1)

True
False

In [90]:
print(1 not in s1)
print(100 not in s1)

False
True

In [92]:
s1 = {1,2,3}
s2 = {3,4,5}
# 합집합
s3 = s1|s2
s4 = s1.union(s2)
print(s3)
print(s4)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [93]:
# 교집합
s5 = s1 & s2
s6 = s1.intersection(s2)
print(s5,s6)

{3} {3}

In [94]:
# 차집합
s7 = s1 -s2
s8 = s1.difference(s2)
print(s7)
print(s8)

{1, 2}
{1, 2}

# 메소드

In [95]:
# 추가
s3.add(10)
print(s3)
s3.add(10) # 있는값을 추가, 중복된 값 추가 x
print(s3)

{1, 2, 3, 4, 5, 10}
{1, 2, 3, 4, 5, 10}

In [96]:
s3.update([1,2,3,100,200,300,400])
s3

{1, 2, 3, 4, 5, 10, 100, 200, 300, 400}

In [97]:
v = s3.pop()
print(v)
s3

1

{2, 3, 4, 5, 10, 100, 200, 300, 400}

In [98]:
s3.remove(5)  # s3의 원소중 5를 삭제 
s3

{2, 3, 4, 10, 100, 200, 300, 400}

In [99]:
var1 = []  # 빈 리스트
var2 = {}  # 빈 dictionary

# 자료구조 변환 함수
- list(자료구조): 자료구조를 list로 변환
- tuple(자료구조) : 자료구조를 tuple로 변환
- set(자료구조) : 자료구조를 set으로 변환
- dictionary로 변환하는 함수는 없다
- 변경할 대상 자료구조가 dictionary 일 경우에는 key값들만 모아서 변환

In [100]:
t = 1,2,10,5,10,2
l = list(t)
l, type(l), t

([1, 2, 10, 5, 10, 2], list, (1, 2, 10, 5, 10, 2))

In [101]:
s = set(t)
s, type(s)

({1, 2, 5, 10}, set)

In [103]:
d = {'a':10, 'b':20, 'c':30}
d
print(set(d))
print(list(d))
print(tuple(d))

{'a', 'b', 'c'}
['a', 'b', 'c']
('a', 'b', 'c')

In [104]:
# dict(key=value, key=value) = dictionary를 쉽게 만들도록 도와주는 함수
d1 = dict(name='홍길동',age=20,address='부산')
d1

{'name': '홍길동', 'age': 20, 'address': '부산'}