In [4]:
#(1) 다음 점수 구간에 맞게 학점을 출력하세요.
# 91 ~ 100 : A학점
# 81 ~ 90 :  B학점
# 71 ~ 80 :  C학점
# 61 ~ 70 :  D학점
# 60이하   :  F학점
jumsu = int(input())
if 90 < jumsu <= 100:
    print("A학점")
elif 80 < jumsu <= 90:
    print("B학점")
elif 70 < jumsu <= 80:
    print("C학점")
elif 60 < jumsu <= 70:
    print("D학점")
elif jumsu <= 60:
    print("F학점")
else:
    print("잘못된 점수 입니다")

50
F학점

In [8]:
#(2) 사용자로 부터 ID를 입력 받은 뒤 입력받은 ID가 5글자 이상이면 "사용할 수 있습니다."를 5글자 미만이면 "사용할 수 없는 ID입니다."를 출력하세요.
ID = input()
if len(ID) >= 5:
    print(f"{ID}는사용할 수 있습니다")
else:
    print(f"{ID}는 사용할 수 없습니다")

asd
asd는 사용할 수 없습니다

In [12]:
#(3) 사용자로부터 우리나라 도시명을 입력 받은 뒤 입력받은 도시명이 서울이면 "특별시"를 인천,부산,광주,대구,대전,울산 이면 "광역시"를 나머지는 "특별시나 광역시가 아닙니다."를 출력하세요.
city = input()
if city == "서울":
    print(f"{city}특별시")
elif city in ("인천","부산","광주","대구","대전","울산"):
    print(f"{city}광역시")
else:
    print(f"{city}는 특별시나 광역시가 아닙니다")

부산
부산광역시

In [13]:
#(4) 아래 리스트의 평균을 구하시오. 
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85]
sum_jumsu = 0
for i in jumsu:
    sum_jumsu += i
avr_jumsu = sum_jumsu / len(jumsu)
print(avr_jumsu)

89.0

In [17]:
#(5) 위 jumsu리스트에서 평균점수이상은 pass, 미만은 fail을 index번호와 함께 출력하시오. (ex: 0-pass, 1-pass, 2-fail)
for idx,i in enumerate(jumsu):
    if i >= avr_jumsu:
        print(f"{idx} - pass")
    else:
        print(f"{idx} - fail")

0 - pass
1 - pass
2 - pass
3 - fail
4 - fail
5 - pass
6 - fail
7 - pass
8 - pass
9 - fail

In [18]:
#(6) 아래 리스트 값들 중 최대값을 조회해 출력
jumsu = [60, 90, 80, 80, 70, 55, 80, 90, 95, 85]
best_jumsu = 0
for i in jumsu:
    if i > best_jumsu:
        best_jumsu = i
print(best_jumsu)

95

In [20]:
#(8) 다음 리스트 중에서 "쥐"와 "토끼" 제외한 나머지를 출력하세요.
str_list = ["쥐", "소", "호랑이", "토끼", "용", "뱀"]
print([i for i in str_list if i not in ("쥐","토끼")])

['소', '호랑이', '용', '뱀']

In [46]:
#(9) 사용자로부터 정수를 입력받아 그 단의 구구단을 출력하시오. 
# ex) 단을 입력하시오 : 2  
# 2 x 1 = 2
# 2 x 2 = 4
#..
# 2 x 9 = 18
num = int(input("단:"))
for i in range(1,10):
    print(f"{num} x {i} = {i * num}")

단:10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90

In [35]:
#컴프리헨션

#(10) 다음 리스트가 가진 값에 두배(* 2)를 가지는 새로운 리스트를 만드시오. (리스트 컴프리헨션 이용)
lst = [10, 30, 70, 5, 120, 700, 1, 35]
[i*2 for i in lst]

[20, 60, 140, 10, 240, 1400, 2, 70]

In [36]:
#(11) 다음 리스트가 가진 값에 10배의 값을 가지는 값을 (원래값, 10배값) 의 튜플 묶음으로 가지는 리스트를 만드시오 (리스트 컴프리헨션 이용)
# Ex) [(10,100), (30,300), .., (35, 350)]
lst = [10, 30, 70, 5, 5, 120, 700, 1, 35, 35]
[(i,i*10) for i in lst]

[(10, 100),
 (30, 300),
 (70, 700),
 (5, 50),
 (5, 50),
 (120, 1200),
 (700, 7000),
 (1, 10),
 (35, 350),
 (35, 350)]

In [37]:
#(12) 다음 리스트가 가진 값들 중 3의 배수만 가지는 리스트를 만드시오. (리스트 컴프리헨션 이용)
lst2 = [ 3, 20, 33, 21, 33, 8, 11, 10, 7, 17, 60, 120, 2]
[i for i in lst2 if i % 3 == 0]

[3, 33, 21, 33, 60, 120]

In [39]:
#(13) 다음 파일이름들을 담은 리스트에서 확장자가 exe인 파일만 골라서 새로운 리스트에 담으시오.(string의 endswith()함수 이용)
file_name=["test.txt", "a.exe", "jupyter.bat", "function.exe", "b.exe", "cat.jpg", "dog.png", "run.exe", "i.dll"]
[i for i in file_name if i.endswith("exe")]

['a.exe', 'function.exe', 'b.exe', 'run.exe']

In [41]:
#(14) 다음 중 10글자 이상인 파일명(확장자포함)만 가지는 리스트를 만드시오.
file_name=["mystroy.txt", "a.exe", "jupyter.bat", "function.exe", "b.exe", "cat.jpg", "dog.png", "run.exe", "i.dll"]
[(i,len(i)) for i in file_name if len(i) >= 10]

[('mystroy.txt', 11), ('jupyter.bat', 11), ('function.exe', 12)]

In [45]:
#(15) 다음 리스트에서 소문자만 가지는 새로운 리스트를 만드시오.
str_list = ["A", "B", "c", "D", "E", "F", "g", "h", "I", "J", "k"]
[i for i in str_list if i.islower()]

['c', 'g', 'h', 'k']

[]