In [1]:
#(1) 다음 점수 구간에 맞게 학점을 출력하세요.
# 91 ~ 100 : A학점
# 81 ~ 90 :  B학점
# 71 ~ 80 :  C학점
# 61 ~ 70 :  D학점
# 60이하   :  F학점
a = int(input("점수:"))
if 90 < a <=100:
    print("A학점")
elif 80 < a <= 90:
    print("B학점")
elif 70 < a <= 80:
    print("c학점")
elif 60 < a <= 70:
    print("D학점")
elif a <= 60:
    print("F학점")
else:
    print(f"{a}는 잘못된 점수 입니다")

점수:105
105는 잘못된 점수 입니다

In [5]:
#(2) 사용자로 부터 ID를 입력 받은 뒤 입력받은 ID가 5글자 이상이면 "사용할 수 있습니다."를 5글자 미만이면 "사용할 수 없는 ID입니다."를 출력하세요.
ID = input("ID:")
if len(ID) >= 5:
    print("사용할 수 있습니다")
else:
    print("사용할 수 없는 ID입니다")

ID:ㅁㅁ
사용할 수 없는 ID입니다

In [3]:
#(3) 사용자로부터 우리나라 도시명을 입력 받은 뒤 입력받은 도시명이 서울이면 "특별시"를 인천,부산,광주,대구,대전,울산 이면 "광역시"를 나머지는 "특별시나 광역시가 아닙니다."를 출력하세요.
name = input("도시명:")
if name == "서울":
    print("특별시")
elif name =="인천,부산,광주,대구,울산":
    print("광역시")
else:
    print("특별시나 광역시가 아닙니다")

도시명:인천
특별시나 광역시가 아닙니다

In [5]:
#(4) 아래 리스트의 평균을 구하시오. 
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85]
sum_jumsu = 0
for i in range(len(jumsu)):
    sum_jumsu += jumsu[i]
avr_jumsu = sum_jumsu / len(jumsu)
print(avr_jumsu)

89.0

In [12]:
#(5) 위 jumsu리스트에서 평균점수이상은 pass, 미만은 fail을 index번호와 함께 출력하시오. (ex: 0-pass, 1-pass, 2-fail)
for i in range(len(jumsu)):
    if jumsu[i] > avr_jumsu:
        print(i,"pass")
    else:
        print(i,"fail")

0 pass
1 pass
2 pass
3 fail
4 fail
5 pass
6 fail
7 pass
8 pass
9 fail

In [9]:
#(6) 아래 리스트 값들 중 최대값을 조회해 출력
jumsu = [60, 90, 80, 80, 70, 55, 80, 90, 95, 85]
n=0
for i in jumsu:
    if i > i+1:
        best_jumsu = i

print(best_jumsu)

95

In [10]:
#(8) 다음 리스트 중에서 "쥐"와 "토끼" 제외한 나머지를 출력하세요.
str_list = ["쥐", "소", "호랑이", "토끼", "용", "뱀"]
a = []
for i in str_list:
    if i in ("호랑이","용","뱀","소"):
        a.append(i)

print(a)

['소', '호랑이', '용', '뱀']

In [ ]:
#(9) 사용자로부터 정수를 입력받아 그 단의 구구단을 출력하시오. 
# ex) 단을 입력하시오 : 2  
# 2 x 1 = 2
# 2 x 2 = 4
#..
# 2 x 9 = 18

#컴프리헨션

#(10) 다음 리스트가 가진 값에 두배(* 2)를 가지는 새로운 리스트를 만드시오. (리스트 컴프리헨션 이용)
lst = [10, 30, 70, 5, 120, 700, 1, 35]


#(11) 다음 리스트가 가진 값에 10배의 값을 가지는 값을 (원래값, 10배값) 의 튜플 묶음으로 가지는 리스트를 만드시오 (리스트 컴프리헨션 이용)
# Ex) [(10,100), (30,300), .., (35, 350)]
lst = [10, 30, 70, 5, 5, 120, 700, 1, 35, 35]



#(12) 다음 리스트가 가진 값들 중 3의 배수만 가지는 리스트를 만드시오. (리스트 컴프리헨션 이용)
lst2 = [ 3, 20, 33, 21, 33, 8, 11, 10, 7, 17, 60, 120, 2]


#(13) 다음 파일이름들을 담은 리스트에서 확장자가 exe인 파일만 골라서 새로운 리스트에 담으시오.(string의 endswith()함수 이용)
file_name=["test.txt", "a.exe", "jupyter.bat", "function.exe", "b.exe", "cat.jpg", "dog.png", "run.exe", "i.dll"]


#(14) 다음 중 10글자 이상인 파일명(확장자포함)만 가지는 리스트를 만드시오.
file_name=["mystroy.txt", "a.exe", "jupyter.bat", "function.exe", "b.exe", "cat.jpg", "dog.png", "run.exe", "i.dll"]



#(15) 다음 리스트에서 소문자만 가지는 새로운 리스트를 만드시오.
str_list = ["A", "B", "c", "D", "E", "F", "g", "h", "I", "J", "k"]